* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    /* CREDITS: Photo by Codioful (Formerly Gradienta) on Unsplash */
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: #3e3e3e37;
    color: #ffffff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 60px 40px;
    text-align: center;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff33;
    backdrop-filter: blur(5px);
}

.searchBar {
    border-radius: 30px;
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff3e;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.search input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #555;
    padding: 10px 30px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}

.searchBar button {
    background: transparent;
    color: #555;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.weatherIcon {
    width: 60px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weatherDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 20px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    margin-top: 50px;
    font-size: 30px;
    display: none;
}